.navbar{
    height: 100px;
    display: flex;
    background: #040204;
    position: sticky;

    .wrapper{
        width: 100%;
        max-width: 1920px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .welcome{
            img{
                width: 120px;
                height:px;
            }
        }
        
        .social{
            display: flex;
            gap: 20px;
            img{
                width: 50px;
                height: 50px;
            }

        }
    }
}