.person {
  height: calc(100vh - 100px);
  margin-left: 300px;
  // background: #10101f;
  // background: linear-gradient(180deg,#0c0c10, #20151f);
  // background: linear-gradient(180deg, #040204, #0c0c3c);

  // overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .wrapper {
    max-width: 1366px;
    height: 100%;
    width: 80%;
    margin-left: 60px;

    .textContainer {
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      h2 {
        margin-top: 120px;
        margin-bottom: 20px;
        font-size: 80px;
        letter-spacing: 4px;
        color: #4a85ef;
      }
      h1 {
        font-size: 120px;
      }

      .buttons {
        button {
          margin-top: 50px;
          padding: 10px;
          border: 1px solid white;
          border-radius: 10px;
          background: transparent;
          color: white;
          font-size: 30px;
          margin-right: 30px;
          cursor: pointer;
          &:hover {
            background: white;
            color: #10101f;
          }
          transition: all 0.5s ease;
        }
      }
      img {
        margin-top: 50px;
        width: 50px;
        height: 50px;
      }
    }
  }
  .imageContainer {
    position: relative;
    top: 20px;
    left: 100px;
    width: 700px;
    height: 700px;
    display: inline-flexbox;
    img {
      display: block;
      animation: floatBounce 15s ease-in-out infinite;
      width: 500px;
      height: auto;
      object-fit: cover;
    }
    @keyframes floatBounce {
      from {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
      }
      to {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
      }
    }
  }
}
