.sidebar{
    display: flex;
    min-width: 200px;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #10101f;
    .bg{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 260px;
        background-color: white;

        .links{
            position: absolute;
            margin-top: 180px;
            margin-left: 10px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 80px;
            color: black;

            .active{
                color: rgba($color: #4a85ef, $alpha: 1.0);
                font-weight: bold;
            }
    
            a{  
                transition: all 0.5s ease;
                font-size: 35px;
                &:hover {
                    padding-left: 10px;
                    padding-right: 10px;
                    // box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
                    // background: rgba(235, 228, 228, 0.5);
                    border-radius: 10px;
                    background: linear-gradient(to right,  #fbfbfa, #f4f4f2, ),;
                    font-size: 30px;
                }  
            }
        }
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none;
    }
}