* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: "DM Sans", sans-serif;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

 body {
    // background: linear-gradient(180deg,  #040204, #0c0c3c);
    background: #040204;
    color: lightgray;
 }

a {
    text-decoration: none;
    color: inherit;
}
section{
   height: 100vh; 
   scroll-snap-align: center;

}

.navbar{
    position: sticky;
}

.pageContainer{
    // background: linear-gradient(180deg,  #040204, #0c0c3c);
    background-image: url('banner.png');
    background-size: cover; /* Cover the entire page */
    background-position: top;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}